

/* ----------------------------------------------- */
/* GENERAL SELECTORS */
/* ----------------------------------------------- */


/* The star selector * is a universal selector -- applies to all */
* {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-weight: 300;
    color: rgb(0, 0, 0);
  }

/* The container for the page header and nav */
header {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 50px;
}

header h1 {
    margin-bottom: 40px;
} 

.logo {
    width: 250px;
    height: 250px;
}

.navtitle a {
    letter-spacing: 1px;
    display: inline-block;
}

.navtitle a:not(.activePage):hover, .navtitle a:focus {
     font-weight:700;
     letter-spacing: 0;
}

.navtitle a::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;

}

.activePage {
    color: rgb(104, 121, 111);
    font-weight:700;
}

.activePage:hover {
    font-weight:700;
}

/* The main wrapper for everything on the page by default */
.text {
    text-align: center;
}

/* _________________________________________________
Form stuff
____________________________________________________ */

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* To give the same size to all text fields */
    width: 300px;
    box-sizing: border-box;
    
  
    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
  }
  
  textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;
  
    /* To give enough room to type some text */
    height: 5em;
  }
  
  .button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }

  form {
      margin-bottom: 200px;
  }