
/* ----------------------------------------------- */
/* GENERAL SELECTORS */
/* ----------------------------------------------- */


/* The star selector * is a universal selector -- applies to all */
* {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-weight: 300;
    color: rgb(0, 0, 0);
  }

/* The container for the page header and nav */
header {
    margin-top: 40px;
    padding-bottom: 20px;
}

header h1 {
    margin-bottom: 40px;
} 

.logo {
    width: 250px;
    height: 250px;
}

.navtitle a {
    letter-spacing: 1px;
    display: inline-block;
}

.navtitle a:not(.activePage):hover, .navtitle a:focus {
     font-weight:700;
     letter-spacing: 0;
    /* color: red; */
}

.navtitle a::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;

}

.activePage {
    color: rgb(104, 121, 111);
    font-weight:700;
}

.activePage:hover {
    font-weight:700;
}

.location {
    color: rgb(150, 150, 150);
}


/* The main wrapper for everything on the page by default */
body {
    text-align: center;
}

/* ----------------------------------------------- */
/* TARGETED STYLES */
/* ----------------------------------------------- */


/* Wrapper for all items on the page */
.container {
    padding: 20px;
}

/* ----------------------------------------------- */
/* STORE ITEMS */
/* ----------------------------------------------- */

/* The wrapper for an individual item */
.item {
    /* border: 3px solid purple; */
    margin: 20px;
    display: inline-block;
    vertical-align: top;

}

/* The image within each item block */
.item img {
    width: 100%;
    min-height: 300px;
}

/* The overlay on each item image (hides weird overflows & keeps scaling uniform) */
.imgWrap {
    width: 300px;
    height: 300px;
    overflow: hidden;

}

/* When the mouse hovers over the imagewrapper (the div floating over img), place a dropshadow */
.imgWrap:hover {
    -webkit-box-shadow: -2px 0px 39px 0px rgba(150,150,150,1);
    -moz-box-shadow: -2px 0px 39px 0px rgba(150,150,150,1);
    box-shadow: -2px 0px 39px 0px rgba(150,150,150,1);    
}

/* ----------------------------------------------- */
/* END STORE ITEMS */
/* ----------------------------------------------- */

